{% load static  %}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <ul class="navbar-nav flex-row align-items-center ms-auto">

      <button type="button" class="btn rounded-pill btn-icon btn-secondary nav-icon-height mx-2">
        <span class="tf-icons bx bx-bell"></span>
      </button>

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="{{user_details.profile_img}}" alt class="w-px-40 h-auto rounded-circle nav-icon-height" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="/profile">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="{{user_details.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />

                  </div>
                </div>
                <div class="flex-grow-1 d-flex flex-column flex-md-row align-items-md-center">
                  <span class="fw-semibold d-block">{{user_details.first_name}}</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/profile">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h5 class="pb-1 mb-4">Courses</h5>
    <div class="row" id="CourseCardContainer">
      {% for course in getCoursesList %}
      <div class="col-12 col-md-12 col-lg-6 d-none courses-card-class" onclick="window.location.href='/course-details/{{course.id}}'" id="CourseCard_{{ course.id }}" >
        <div class="card mb-3">
          <div class="my-course-card">
            <div class="m-3 col-md-4 my-courses-images">
              <img class="card-img card-img-left rounded  my-courses-images" src="{{course.course_img}}" alt="Card image" />
            </div>
            <div class="col-md-8 my-course-card-body">
              <div class="card-body m-0 p-0">
                <h5 class="card-title">{{ course.title }}</h5>
                <p> <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{course.totalPrograss}}%;background-color: #f46a24;"> </div> </div> </p>
                <!-- <p>  Progress 0%  </p> -->
                <p> <i class="fas fa-hourglass-half p-clr" style="font-size: 20px;"></i> &nbsp; <span>  {{course.totalPrograss}}%</span> &nbsp;&nbsp; <i class="fas fa-clock p-clr" style="font-size: 20px;"></i> &nbsp; <span> {{ course.duration.totalduration }}hrs</span> &nbsp;&nbsp;   {% if course.assessments.totalAssessments != 0 %} <!--Assessments <i class="fas fa-clipboard-list p-clr" style="font-size:20px;"></i> -->  <i class="fas fa-clipboard-check p-clr" style="font-size:20px;"></i> &nbsp; <span >{{ course.assessments.completedAssessmentsCount }}/{{ course.assessments.totalAssessments }} {% else %} {% endif %}  </span> <!-- <i class="fas fa-clipboard-list" style="color:#f46a24; font-size:19px;"></i> 0/5 --></p>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>

    <div class="row justify-content-end" style="float: right;">
      <a class="text-decoration-underline mr-3" id="showMoreId" onclick="showMore(event)" href="">Show More</a>
    </div>
    <!-- Notifications -->
    <div class="col-md m-0">
      <div class="card">
        <h5 class="card-header">Notifications</h5>
        <div class="card-body" id="notificationsContainer" style="padding: 0rem 1.5rem !important;"> </div>

        <div id="noNotificationsContainer" class="container" style="display: flex; justify-content: center; display: none;">
          <div>
            <h5 class="card-header" style="display: flex; justify-content: center; align-items: center;" >
               <i class="tf-icons bx bx-bell p-clr" style="font-size: 25px;"></i> &nbsp;
               <span style="color: rgba(128, 128, 128, 0.807);">
                No Notifications Here
               </span>
            </h5>
          </div>
        </div>

        <div class="pb-3" id="showMoreContainer" style="display: flex; justify-content: end; align-items: center; display: none; padding-right: 1.8rem;">
          <span class="custom_links">
            Show More
          </span>
        </div>

      </div>
    </div>


    
  </div>
</div>


                  <!-- <div class="alert p-0 m-0" style="float:left; background-color: transparent !important;" >
                    <div style="display:flex;">

                      <span class="p-clr">
                        <i class="fas fa-clock p-clr"></i> 13 : 02 
                      </span>

                      <div class="mx-1">
                        <span class="vr" style="color : #8080809e; width: 2px; min-height: 13px;"></span>
                      </div>

                      <span class="p-clr mx-1">
                        15-12-2023  
                      </span>

                    </div>
                  </div> -->

                  <!-- <div>
                    <div class="alert p-0 m-0" style="float:right; background-color: gainsboro !important;" >
                      <div style="display: flex; justify-content: center;">
                        <span class="p-clr mx-1">
                          <i class="fas fa-clock p-clr"></i> 13 : 02 
                        </span>
                        <div>
                          <span class="vr" style="color : #8080809e; width: 2px; min-height: 10px;"></span>
                        </div>
                        <span class="p-clr mx-1">
                          15-12-2023  
                        </span>
                      </div>
                    </div>
                  </div> -->


<script src="{% static 'js/mycourses.js' %}"></script>
   