{% load static %}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div id="display_icon" style="display:block;cursor:pointer" onclick='showFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div id="hide_icon" style="display:none;cursor:pointer" onclick='hideFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/profile">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column flex-md-row align-items-md-center">
                        <span class="fw-semibold d-block">{{user_data.first_name}}</span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="/profile">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                    </a>
                </li>
                </ul>
            </li>  
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h3 class="pb-1 mb-4 d-flex justify-content-between">{{course_details.title}}
            {% if course_details.rating == None %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="rating_button" data-bs-target="#rating_popup">
                <i class="fas fa-star" style="color: #fff;"></i>&nbsp; Rate the Course
            </button> 
            <div id="user-rating" hidden></div>
            {% elif course_details.rating != None  %}
            <p style="font-size:1.125rem" id="user_rating">Rating : {{course_details.rating}} <i class="fas fa-star" style="color: #f46a24;"></i></p>
            {% endif %}
        </h3>
        <div class="row">
            <div class="col-md-7 mb-4 mb-md-0">
                <div id="video_section"></div>    
            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                <small class="text-light fw-semibold">Course Modules</small>
                <div class="accordion mt-3" id="accordionExample">
                    {% for module in course_details.module %}
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accord_{{ forloop.counter }}" aria-expanded="true" aria-controls="accord_{{ forloop.counter }}">{{module.module_name}}</button>
                        </h2>
                        <div id="accord_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <ul class="list-group">
                                {% for lesson in module.lesson_title %}
                                <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" onclick="getCourseVideo({{lesson.id}})" style="cursor:pointer">
                                    <i class="far fa-play-circle lesson-icon"></i>&nbsp; <p class="lesson-title">{{lesson.title}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% if module.assesment == 'Y' %}
                                <div class='p-3 justify-content-end d-flex'>
                                    <button type="button" class="btn btn-primary" onclick="startAssessment({{module.module_id}})">
                                        <i class="fas fa-clipboard-list" style="color:#fff"></i>&nbsp; Start Assessment
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class='ask-question m-3'>
            <button type="button" class="btn btn-primary" id="courseDetailsData">
                <i class="fas fa-question" style="color: #fff;"> &nbsp; Ask a Question </i>
            </button>
        </div>






            <div class="col-lg-4 col-md-6">
                <!-- <small class="text-light fw-semibold mb-3">Enable Scrolling & Backdrop</small> -->
                <div class="mt-3">
                  <button  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                    Ask a Question
                  </button>
                  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasBoth"
                    aria-labelledby="offcanvasBothLabel" style="width: 40% !important; background-color: #f5f5f9;">
                    
                    <div class="offcanvas-header pt-0 pb-0" style="display: flex; justify-content: start;">
                      <button type="button"  class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">  </button>
                    <h5 class="pt-3 " style="margin-left: 2rem;">Ask a Question</h5>
                    </div>

                    <p class="" style="margin: 0rem 2rem;">Check Questions list your question doesn't exits add your question</p>

                    <div class="offcanvas-body mx-0 flex-grow-0 mt-3 pt-0" >
                        <!-- <div class="row" style="justify-content: center;"> -->
                            <div class="col-12 col-md-8 col-lg-12" >
                              
                      
                              <div class="nav-align-top mb-4"  style="justify-content: center;">
                              <ul class="nav nav-tabs" role="tablist">

                                <!-- First Tab Label -->
                                <li class="nav-item">
                                  <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                                    My Questions
                                  </button>
                                </li>
                                <!-- Second Tab Label -->
                                <li class="nav-item">
                                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                                    Overall Questions
                                  </button>
                                </li> 

                                <!-- Third Tab Label Add Question -->
                              <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                  data-bs-target="#navs-top-question" aria-controls="navs-top-question" aria-selected="false">
                                  Ask a Question
                                </button>
                              </li> 

                              </ul>
                              
                            

                              <!-- Label Container Start -->
                              <div class="tab-content pb-0" style="border-radius: 0%; border-top-right-radius: 10px;">

                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 " style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Course </label>
                                  <div id="courseId" class="col-md-10 col-12 col-lg-8"   style=" font-size: medium; max-width: max-content  !important; width: max-content !important;" > Carnatic Vocal Grade - I </div>
                                </div>
                        
                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 " style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Module </label>
                                  <div class="col-md-10 col-12 col-lg-8" id="moduleContainer"  style=" font-size: medium; max-width: max-content  !important; width: max-content !important;"> Carnatic Vocal Module - 1 </div>
                                </div>
                        
                                <div class="mb-3 row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 " style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Lesson</label>
                                  <div class="col-md-10 col-12 col-lg-8" id="lessonContainer" style=" font-size: medium; max-width: max-content  !important; width: max-content !important;"> Carnatic Vocal lesson - 1 </div>
                                </div>
                              </div>
                               <!-- Label Container End -->
                      
                              <div class="tab-content pt-0 pb-0" style="border-radius: 0%;">

                                <!-- First Tab Container -->
                                <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div class="card-body" id="vertical-example" style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;"> 

                                        <div class="col-md mb-4 mb-md-0">

                                            <div class="card accordion-item mt-2">
                                                <h2 class="accordion-header" id="headingThree">
                                                  <button
                                                    type="button"
                                                    class="accordion-button collapsed"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#accordionThree"
                                                    aria-expanded="false"
                                                    aria-controls="accordionThree"
                                                  >
                                                    Accordion Item 3
                                                  </button>
                                                </h2>
                                                <div
                                                  id="accordionThree"
                                                  class="accordion-collapse collapse"
                                                  aria-labelledby="headingThree"
                                                  data-bs-parent="#accordionExample"
                                                >
                                                  <div class="accordion-body">
                                                    Oat cake toffee chocolate bar jujubes.
                                                  </div>
                                                </div>
                                              </div>


                                          </div>

                                      </div>
                                    </div>
                                </div>

                                <!-- Second Tab Container-->
                                <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div class="card-body" id="over-all-question" style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;">   </div>
                                    </div>
                                </div> 

                                <!-- third tab -->
                                <div class="tab-pane fade" id="navs-top-question" role="tabpanel" style="height: 379px;">
                                    <div class="" style="border-bottom-left-radius: 10px;">
                                <form action="" id="askQuestionForm">
                      
                                  <div class="row col-12">
                                    <label id="" for="html5-time-input" class="col-md-2 mb-3 questionLabelSmMargin" style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Question</label>
                                    <div class="col-md-12 col-12 col-lg-12">
                                      <textarea required  id="AskQuestionTextAreaId"  class="form-control" placeholder=""
                                        maxlength="95"  aria-label="Question ?" aria-describedby="Question" style="height: 200px;">

                                      </textarea>
                                    </div>
                                  </div>
                        
                                  <div class="row col-12">
                                    <label for="html5-time-input" class="col-md-2 col-form-label" style="text-transform: capitalize !important; width: 5rem;"></label>
                                    <div class="col-md-12 col-12 col-lg-12" style="display: flex; justify-content: end;">
                                      <button type="submit" class="btn btn-primary" onclick="askQuestion(event)">Send</button>
                                    </div>
                                  </div>
                        
                                </form>  
                              </div>
                                </div> 
                             
                              </div>


                            
                      
                            </div>
                          </div>
                        <!-- </div> -->
                     
                    </div>
                  </div>
                </div>
              </div>

        </div>



        <p id='courseid' name="{{course_details.courseid}}" hidden>
        <div class="modal fade" id="rating_popup" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">  
                        <h5 class="modal-title">{{course_details.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id='rating_form'>
                        <div class="modal-body">
                            <div class="stars">
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star1" value="1" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star one-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star2" value="2" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star two-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star3" value="3" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star three-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star4" value="4" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star four-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star5" value="5" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star five-star"></i>
                                </label>
                            </div><br>
                            <div>
                                <textarea type="textarea" rows="3" id="rating_comment" class="form-control" placeholder="Message (optional)"></textarea>
                            </div>   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id='save_rating' class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var getUserCourseId = '{{ course_details.courseid }}'
    var getUserId = ''
    var first_name = '{{ user_data.first_name }}'
    var last_name = '{{ user_data.last_name }}'
    var email = '{{ user_data.email }}'
   
</script>
<script src="{% static 'js/course_details.js' %}"></script>

<style>
    
    
</style>
