{% load static %}


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div id="display_icon" style="display:block;cursor:pointer" onclick='showFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div id="hide_icon" style="display:none;cursor:pointer" onclick='hideFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/profile">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column flex-md-row align-items-md-center">
                        <span class="fw-semibold d-block">{{user_data.first_name}}</span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="/profile">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                    </a>
                </li>
                </ul>
            </li>  
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h3 class="pb-1 mb-3
         d-flex justify-content-between" onclick="getVideoTime()">{{course_details.title}}
            {% if course_details.rating == None %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="rating_button" data-bs-target="#rating_popup">
                <i class="fas fa-star" style="color: #fff;"></i>&nbsp; Rate the Course
            </button> 
            <div id="user-rating" hidden></div>
            {% elif course_details.rating != None  %}
            <p style="font-size:1.125rem" id="user_rating">Rating : {{course_details.rating}} <i class="fas fa-star" style="color: #f46a24;"></i></p>
            {% endif %}
        </h3>
        <div class="row">
            <div class="col-md-7 mb-3 mb-md-0">
                <div>
                    <div class="container show-controls">
                      <div class="wrapper">
                          <div class="video-timeline">
                              <div class="progress-area">
                                  <span>00:00</span>
                                  <div class="progress-bar"></div>
                              </div>
                          </div>
                          <ul class="video-controls">
                              <li class="options left">
                                  <button class="volume"><i class="fas fa-volume-up"></i></button>
                                  <input type="range" min="0" max="1" step="any">
                                  <div class="video-timer">
                                      <p class="current-time p-0 m-0">00:00</p>
                                      <p class="separator p-0 m-0"> / </p>
                                      <p class="video-duration p-0 m-0">00:00</p>
                                  </div>
                              </li>
                              <li class="options center">
                                  <button class="skip-backward"><i class="fas fa-backward"></i></button>
                                  <button class="play-pause"><i class="fas fa-play"></i></button>
                                  <button class="skip-forward"><i class="fas fa-forward"></i></button>
                              </li>
                              <li class="options right">
                                  <div class="playback-content">
                                      <button class="playback-speed"><span class="material-symbols-rounded">slow_motion_video</span></button>
                                      <ul class="speed-options p-0">
                                          <li data-speed="2">2x</li>
                                          <li data-speed="1.5">1.5x</li>
                                          <li data-speed="1" class="active">Normal</li>
                                          <li data-speed="0.75">0.75x</li>
                                          <li data-speed="0.5">0.5x</li>
                                      </ul>
                                  </div>
                                  <button class="pic-in-pic"><span class="material-icons">picture_in_picture_alt</span></button>
                                  <button class="fullscreen"><i class="fas fa-expand"></i></button>
                              </li>
                          </ul>
                      </div>
                      <video id="video-src" src="https://vz-e3c8e33a-ea3.b-cdn.net/b320cd4b-d677-4b3e-96ea-1e87db0caa5a/play_480p.mp4"></video>
                    </div>
                </div>
                
                <div class='ask-question video-cen-ask-que-hidde m-3'>
                    <button id="askQuestionId"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                        <i class="fas fa-question" style="color: #fff;"> &nbsp;</i>Ask a Question
                    </button>
                </div>

            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                
                <div class='ask-question' style="display: flex;justify-content: space-between;">
                    <small class="text-light fw-semibold" style="display: flex; align-items: center; justify-content: center;  max-height: 100%; ">
                        <span>Course Modules</span>
                    </small>
                    <button id="MobileaskQuestionId" onclick="console.log(this.id,this.classList)"  class="btn btn-primary video-right-ask-que-hidde" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                        <i class="fas fa-question" style="color: #fff;"> &nbsp;</i>Ask a Question
                    </button>
                </div>
                <div class="accordion mt-3" id="accordionExample">
                    {% for module in course_details.module %}
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accord_{{ forloop.counter }}" aria-expanded="true" aria-controls="accord_{{ forloop.counter }}">{{module.module_name}}</button>
                            </h2>
                            <div id="accord_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for lesson in module.lesson_title %}
                                        {% if lesson.lesson_type == 'V' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" onclick="getCourseVideo({{lesson.id}})" style="cursor:pointer">
                                                <i class="far fa-play-circle lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'P' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" style="cursor:pointer">
                                                <i class="fas fa-file lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                            </li>
                                        {% elif lesson.lesson_type == 'A' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" style="cursor:pointer">
                                                <i class="fas fa-volume-up lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if module.assesment == 'Y' and module.mail_check == 'N' %}
                                    <div class='p-3 justify-content-end d-flex' id="assessment_{{module.module_id}}">
                                        <button type="button" class="btn btn-primary" onclick="startAssessment({{module.module_id}})">
                                            <i class="fas fa-clipboard-list" style="color:#fff"></i>&nbsp; Start Assessment
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div> 
                    {% endfor %}
                    {% for locked_module in course_details.locked_modules %}
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="lck_heading{{ forloop.counter }}">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#lck_accord_{{ forloop.counter }}" aria-expanded="true" aria-controls="lck_accord_{{ forloop.counter }}"><i class="fas fa-lock p-clr"></i> &emsp;{{locked_module.module_name}} </button>
                            </h2>
                            <div id="lck_accord_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex align-items-center">
                                        <p class="lesson-title">Please complete the assessment for the above modules to unlock new modules</p>
                                    </li>
                                    {% for lesson in locked_module.lesson_title %}
                                        {% if lesson.lesson_type == 'V' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="far fa-play-circle lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'P' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="fas fa-file lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'A' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="fas fa-volume-up lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </div>

            <div class="col-lg-4 col-md-6">
                <div class="mt-3">
                  
                  <div class="offcanvas offcanvas-end canvas-width" data-bs-scroll="true" tabindex="-1" id="offcanvasBoth"
                    aria-labelledby="offcanvasBothLabel" >
                    
                    <div class="offcanvas-header ask-question-canvas-header pt-0 pb-0" style="display: flex; justify-content: start;">
                      <button type="button"  class="btn-close text-reset rm-sm-btn-pad" data-bs-dismiss="offcanvas" aria-label="Close">  </button>
                    <h5 class="pt-3 " style="margin-left: 2rem;">Questions</h5>
                    </div>

                    <p class="notice-text-para" style="margin: 0rem 2rem;">Check Questions list your question doesn't exits add your question</p>

                    <div class="offcanvas-body remove-padding-sm-cls mx-0 flex-grow-0 mt-3 pt-0" style="overflow-y:hidden;">
                        <!-- <div class="row" style="justify-content: center;"> -->
                            <div class="col-12 col-md-12 col-lg-12" >
                              <div class="nav-align-top mb-4"  style="justify-content: center;">
                              <ul class="nav nav-tabs" role="tablist">

                                <!-- First Tab Label -->
                                <li class="nav-item ">
                                  <button  type="button" class="nav-link nav-padding active" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                                    All Questions
                                  </button>
                                </li>

                                   <!-- Third Tab Label Add Question -->
                              <li class="nav-item ">
                                <button type="button" class="nav-link nav-padding" role="tab" data-bs-toggle="tab"
                                  data-bs-target="#navs-top-question" aria-controls="navs-top-question" aria-selected="false">
                                  Ask a Question
                                </button>
                              </li> 

                                <!-- Second Tab Label -->
                                <li class="nav-item ">
                                  <button type="button" class="nav-link nav-padding" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                                    My Questions
                                  </button>
                                </li> 
                              </ul>

                              <!-- Label Container Start -->
                              <div class="tab-content pb-0 rm-sm-padding-cls" style="border-radius: 0%; border-top-right-radius: 10px;">

                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Course </label>
                                  <div id="courseId" class="col-md-10 col-12 col-lg-8 font-size-media"  style=" max-width: max-content  !important; width: max-content !important;" ></div>
                                </div>
                        
                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Module </label>
                                  <div id="moduleId"  class="col-md-10 col-12 col-lg-8 font-size-media"  style=" max-width: max-content  !important; width: max-content !important;"> </div>
                                </div>
                        
                                <div class="mb-3 row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Lesson</label>
                                  <div id="lessonId" class="col-md-10 col-12 col-lg-8 font-size-media" style=" max-width: max-content  !important; width: max-content !important;">  </div>
                                </div>
                              </div>
                               <!-- Label Container End -->
                      
                              <div class="tab-content rm-sm-padding-cls pt-0 pb-0" style="border-radius: 0%;  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

                                <!-- First Tab Container -->
                                <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div id="over-all-question" class="card-body rm-sm-card-padding-cls"  style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;">  </div>
                                    </div>
                                </div>

                                 <!-- Second Tab Container--> 
                                 <div class="tab-pane fade" id="navs-top-question" role="tabpanel" style="height: 379px;">
                                  <div class="" style="border-bottom-left-radius: 10px;">
                              <form action="" id="askQuestionForm">
                    
                                <div class="row col-12">
                                  <label id="" for="html5-time-input" class="col-md-2 mb-3 questionLabelSmMargin" style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Question</label>
                                  <div class="col-md-12 col-12 col-lg-12 sm-rm-padding-right">
                                    <textarea required  id="AskQuestionTextAreaId"  class="form-control" maxlength="95"  aria-label="Question ?"
                                     aria-describedby="Question" style="height: 200px;"> </textarea>
                                  </div>
                                </div>
                      
                                <div class="row col-12">
                                  <label for="html5-time-input" class="col-md-2 col-form-label" style="text-transform: capitalize !important; width: 5rem;"></label>
                                  <div class="col-md-12 col-12 col-lg-12 sm-rm-padding-right" style="display: flex; justify-content: end;">
                                    <button type="submit" class="btn btn-primary" onclick="askQuestion(event)">Send</button>
                                  </div>
                                </div>
                              </form>  
                            </div>
                              </div> 
                                <!-- third tab -->
                                <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div id="vertical-example" class="card-body rm-sm-card-padding-cls"  style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;">   </div>
                                    </div>
                                </div> 
                              </div>
                            </div>
                          </div>
                        <!-- </div> -->                     
                    </div>
                  </div>
                </div>
              </div>
        </div>


        <p id='courseid' name="{{course_details.courseid}}" hidden>
        <div class="modal fade" id="rating_popup" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">  
                        <h5 class="modal-title">{{course_details.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id='rating_form'>
                        <div class="modal-body">
                            <div class="stars">
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star1" value="1" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star one-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star2" value="2" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star two-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star3" value="3" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star three-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star4" value="4" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star four-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star5" value="5" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star five-star"></i>
                                </label>
                            </div><br>
                            <div>
                                <textarea type="textarea" rows="3" id="rating_comment" class="form-control" placeholder="Message (optional)"></textarea>
                            </div>   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id='save_rating' class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  var getUserCourseId = '{{ course_details.courseid }}'
  var paper_title = '{{course_details.title}}({{ course_details.courseid }}'
  var getUserId = ''
  var first_name = '{{ user_data.first_name }}'
  var last_name = '{{ user_data.last_name }}'
  var email = '{{ user_data.email }}'
</script>

<script src="{% static 'js/course_details.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/css/media_player.css'  %}">
<script src="{% static 'js/media_player.js' %}"></script>

