{% load static %}


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>
    <div id="display_icon" style="display:block;cursor:pointer" onclick='showFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div id="hide_icon" style="display:none;cursor:pointer" onclick='hideFullPage()'><i class="bx bx-menu bx-sm"></i></div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/profile">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="{{user_data.profile_img}}" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column flex-md-row align-items-md-center">
                        <span class="fw-semibold d-block">{{user_data.first_name}}</span>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="/profile">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                    </a>
                </li>
                </ul>
            </li>  
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h3 class="pb-1 mb-3
         d-flex justify-content-between" onclick="getVideoTime()">{{course_details.title}}
            {% if course_details.rating == None %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="rating_button" data-bs-target="#rating_popup">
                <i class="fas fa-star" style="color: #fff;"></i>&nbsp; Rate the Course
            </button> 
            <div id="user-rating" hidden></div>
            {% elif course_details.rating != None  %}
            <p style="font-size:1.125rem" id="user_rating">Rating : {{course_details.rating}} <i class="fas fa-star" style="color: #f46a24;"></i></p>
            {% endif %}
        </h3>
        <div class="row">
            <div class="col-md-7 mb-3 mb-md-0">
                <div>
                    <div class="container show-controls rounded">
                        <div class="wrapper">
                            <div class="video-timeline">
                                <div class="progress-area">
                                    <span>00:00</span>
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                            <ul class="video-controls">
                                <li class="options left">
                                    <button class="volume"><i class="fas fa-volume-up"></i></button>
                                    <input type="range" min="0" max="1" step="any">
                                    <div class="video-timer">
                                        <p class="current-time p-0 m-0">00:00</p>
                                        <p class="separator p-0 m-0"> / </p>
                                        <p class="video-duration p-0 m-0">00:00</p>
                                    </div>
                                </li>
                                <li class="options center">
                                    <button class="skip-backward"><i class="fas fa-backward"></i></button>
                                    <button class="play-pause"><i class="fas fa-play"></i></button>
                                    <button class="skip-forward"><i class="fas fa-forward"></i></button>
                                </li>
                                <li class="options right">
                                    <div class="playback-content">
                                        <button class="playback-speed"><span class="material-symbols-rounded">slow_motion_video</span></button>
                                        <ul class="speed-options p-0">
                                            <li data-speed="2">2x</li>
                                            <li data-speed="1.5">1.5x</li>
                                            <li data-speed="1" class="active">Normal</li>
                                            <li data-speed="0.75">0.75x</li>
                                            <li data-speed="0.5">0.5x</li>
                                        </ul>
                                    </div>
                                    <button class="pic-in-pic"><span class="material-icons">picture_in_picture_alt</span></button>
                                    <button class="fullscreen"><i class="fas fa-expand"></i></button>
                                </li>
                            </ul>
                        </div>
                        <video id="video-src" src="https://vz-e3c8e33a-ea3.b-cdn.net/b320cd4b-d677-4b3e-96ea-1e87db0caa5a/play_480p.mp4"></video>
                        
                    </div>
                </div>
                
                <div class='ask-question video-cen-ask-que-hidde m-3'>
                    <button id="askQuestionId"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                        <i class="fas fa-question" style="color: #fff;"> &nbsp;</i>Ask a Question
                    </button>
                </div>

            </div>
            <div class="col-md-5 mb-4 mb-md-0">
                
                <div class='ask-question' style="display: flex;justify-content: space-between;">
                    <small class="text-light fw-semibold" style="display: flex; align-items: center; justify-content: center;  max-height: 100%; ">
                        <span>Course Modules</span>
                    </small>
                    <button id="MobileaskQuestionId" onclick="console.log(this.id,this.classList)"  class="btn btn-primary video-right-ask-que-hidde" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoth" aria-controls="offcanvasBoth">
                        <i class="fas fa-question" style="color: #fff;"> &nbsp;</i>Ask a Question
                    </button>
                </div>
                <div class="accordion mt-3" id="accordionExample">
                    {% for module in course_details.module %}
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accord_{{ forloop.counter }}" aria-expanded="true" aria-controls="accord_{{ forloop.counter }}">{{module.module_name}}</button>
                                {% comment %} <span style='float:right'> {{ module.lessons_count}} L &#8226; {{module.module_duration}} </span> {% endcomment %}
                            </h2>
                            <div id="accord_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    {% for lesson in module.lesson_title %}
                                        {% if lesson.lesson_type == 'V' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" onclick="getCourseVideo({{lesson.id}})" style="cursor:pointer">
                                                <i class="far fa-play-circle lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'P' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" style="cursor:pointer">
                                                <i class="fas fa-file lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                            </li>
                                        {% elif lesson.lesson_type == 'A' %}
                                            <li class="list-group-item d-flex align-items-center" id="{{lesson.id}}" style="cursor:pointer">
                                                <i class="fas fa-volume-up lesson-icon"></i>&ensp;
                                                <p class="lesson-title">{{lesson.title}}</p>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if module.assesment == 'Y' and module.mail_check == 'N' %}
                                    <div class='p-3 justify-content-end d-flex' id="assessment_{{module.module_id}}">
                                        <button type="button" class="btn btn-primary" onclick="startAssessment({{module.module_id}})">
                                            <i class="fas fa-clipboard-list" style="color:#fff"></i>&nbsp; Start Assessment
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div> 
                    {% endfor %}
                    {% for locked_module in course_details.locked_modules %}
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="lck_heading{{ forloop.counter }}">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#lck_accord_{{ forloop.counter }}" aria-expanded="true" aria-controls="lck_accord_{{ forloop.counter }}"><i class="fas fa-lock p-clr"></i> &emsp;{{locked_module.module_name}} </button>
                            </h2>
                            <div id="lck_accord_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex align-items-center">
                                        <p class="lesson-title">Please complete the assessment for the above modules to unlock new modules</p>
                                    </li>
                                    {% for lesson in locked_module.lesson_title %}
                                        {% if lesson.lesson_type == 'V' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="far fa-play-circle lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'P' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="fas fa-file lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% elif lesson.lesson_type == 'A' %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <i class="fas fa-volume-up lesson-icon"></i>&ensp; <p class="lesson-title">{{lesson.title}}</p>
                                                <span style="margin-left:auto"><i class="fas fa-clock p-clr"></i> &nbsp; {{lesson.lesson_duration}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </div>


        

        <!-- <h3 id="demoIdText">hello</h3>
        <button id="getCureentTimeVideo"  class="btn btn-primary" type="button">
            call me
        </button> -->
<!-- 
        <script>
            $('#getCureentTimeVideo').click( function(){

     

                var iframe = document.body.querySelector('iframe');
                console.log('iframe :: ',iframe)

                var iframeContent = iframe.contentDocument || iframe.contentWindow.document;
                console.log('iframeContent :: ',iframeContent.orig)

            


                // for (var i = 0; i < iframes.length; i++) {
                //     console.log('i :: ',i)
                //     console.log('Source of iframe ' , iframes[i].querySelector('#document'));
                // }

            })
        </script> -->



            <div class="col-lg-4 col-md-6">
                <!-- <small class="text-light fw-semibold mb-3">Enable Scrolling & Backdrop</small> -->
                <div class="mt-3">
                  
                  <div class="offcanvas offcanvas-end canvas-width" data-bs-scroll="true" tabindex="-1" id="offcanvasBoth"
                    aria-labelledby="offcanvasBothLabel" >
                    
                    <div class="offcanvas-header ask-question-canvas-header pt-0 pb-0" style="display: flex; justify-content: start;">
                      <button type="button"  class="btn-close text-reset rm-sm-btn-pad" data-bs-dismiss="offcanvas" aria-label="Close">  </button>
                    <h5 class="pt-3 " style="margin-left: 2rem;">Questions</h5>
                    </div>

                    <p class="notice-text-para" style="margin: 0rem 2rem;">Check Questions list your question doesn't exits add your question</p>

                    <div class="offcanvas-body remove-padding-sm-cls mx-0 flex-grow-0 mt-3 pt-0" style="overflow-y:hidden;">
                        <!-- <div class="row" style="justify-content: center;"> -->
                            <div class="col-12 col-md-12 col-lg-12" >
                              
                      
                              <div class="nav-align-top mb-4"  style="justify-content: center;">
                              <ul class="nav nav-tabs" role="tablist">

                                <!-- First Tab Label -->
                                <li class="nav-item ">
                                  <button  type="button" class="nav-link nav-padding active" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                                    All Questions
                                  </button>
                                </li>

                                   <!-- Third Tab Label Add Question -->
                              <li class="nav-item ">
                                <button type="button" class="nav-link nav-padding" role="tab" data-bs-toggle="tab"
                                  data-bs-target="#navs-top-question" aria-controls="navs-top-question" aria-selected="false">
                                  Ask a Question
                                </button>
                              </li> 

                                <!-- Second Tab Label -->
                                <li class="nav-item ">
                                  <button type="button" class="nav-link nav-padding" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                                    My Questions
                                  </button>
                                </li> 

                             

                              </ul>
                              
                            

                              <!-- Label Container Start -->
                              <div class="tab-content pb-0 rm-sm-padding-cls" style="border-radius: 0%; border-top-right-radius: 10px;">

                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Course </label>
                                  <div id="courseId" class="col-md-10 col-12 col-lg-8 font-size-media"  style=" max-width: max-content  !important; width: max-content !important;" ></div>
                                </div>
                        
                                <div class="ask-question-input-feld row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Module </label>
                                  <div id="moduleId"  class="col-md-10 col-12 col-lg-8 font-size-media"  style=" max-width: max-content  !important; width: max-content !important;"> </div>
                                </div>
                        
                                <div class="mb-3 row col-12 no-wrap">
                                  <label for="html5-time-input" class="col-md-2 font-size-media sm-red-width" style="text-transform: capitalize !important; width: 6.5rem;">Lesson</label>
                                  <div id="lessonId" class="col-md-10 col-12 col-lg-8 font-size-media" style=" max-width: max-content  !important; width: max-content !important;">  </div>
                                </div>
                              </div>
                               <!-- Label Container End -->
                      
                              <div class="tab-content rm-sm-padding-cls pt-0 pb-0" style="border-radius: 0%;  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

                                <!-- First Tab Container -->
                                <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div id="over-all-question" class="card-body rm-sm-card-padding-cls"  style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;">  </div>
                                    </div>
                                </div>

                                 <!-- Second Tab Container--> 
                                 <div class="tab-pane fade" id="navs-top-question" role="tabpanel" style="height: 379px;">
                                  <div class="" style="border-bottom-left-radius: 10px;">
                              <form action="" id="askQuestionForm">
                    
                                <div class="row col-12">
                                  <label id="" for="html5-time-input" class="col-md-2 mb-3 questionLabelSmMargin" style="text-transform: capitalize !important; width: 6.5rem; font-size: medium;">Question</label>
                                  <div class="col-md-12 col-12 col-lg-12 sm-rm-padding-right">
                                    <textarea required  id="AskQuestionTextAreaId"  class="form-control" maxlength="95"  aria-label="Question ?"
                                     aria-describedby="Question" style="height: 200px;"> </textarea>
                                  </div>
                                </div>
                      
                                <div class="row col-12">
                                  <label for="html5-time-input" class="col-md-2 col-form-label" style="text-transform: capitalize !important; width: 5rem;"></label>
                                  <div class="col-md-12 col-12 col-lg-12 sm-rm-padding-right" style="display: flex; justify-content: end;">
                                    <button type="submit" class="btn btn-primary" onclick="askQuestion(event)">Send</button>
                                  </div>
                                </div>
                              </form>  
                            </div>
                              </div> 

                                <!-- third tab -->
                                <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                                    <div class=" overflow-hidden mb-4" style="height: 355px;">
                                      <div id="vertical-example" class="card-body rm-sm-card-padding-cls"  style="background-color: #f5f5f9; border-radius: 10px; padding: 0.5rem 0.5rem;">   </div>
                                    </div>
                                </div> 

                               
                             
                              </div>


                            
                      
                            </div>
                          </div>
                        <!-- </div> -->                     
                    </div>
                  </div>
                </div>
              </div>
        </div>


        <p id='courseid' name="{{course_details.courseid}}" hidden>
        <div class="modal fade" id="rating_popup" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">  
                        <h5 class="modal-title">{{course_details.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id='rating_form'>
                        <div class="modal-body">
                            <div class="stars">
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star1" value="1" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star one-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star2" value="2" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star two-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star3" value="3" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star three-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star4" value="4" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star four-star"></i>
                                </label>
                                <label class="rate">
                                    <input type="radio" name="rating_star" id="star5" value="5" required>
                                    <div class="face"></div>
                                    <i class="far fa-star star five-star"></i>
                                </label>
                            </div><br>
                            <div>
                                <textarea type="textarea" rows="3" id="rating_comment" class="form-control" placeholder="Message (optional)"></textarea>
                            </div>   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id='save_rating' class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var getUserCourseId = '{{ course_details.courseid }}'
    var paper_title = '{{course_details.title}}({{ course_details.courseid }}'
    var getUserId = ''
    var first_name = '{{ user_data.first_name }}'
    var last_name = '{{ user_data.last_name }}'
    var email = '{{ user_data.email }}'
   
</script>
<script src="{% static 'js/course_details.js' %}"></script>


 <style>
  	/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* body{
  min-height: 100vh;
  background: #E3F2FD;
} */
body, .container, .video-controls, .video-timer, .options{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  user-select: none;
  overflow: hidden;
  max-width: 900px;
  border-radius: 5px;
  background: transparent;
  aspect-ratio: 16 / 9;
  position: relative;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}
.container.fullscreen{
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  bottom: -15px;
  transition: all 0.08s ease;
}
.container.show-controls .wrapper{
  opacity: 1;
  bottom: 0;
  transition: all 0.13s ease;
}
.wrapper::before{
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: calc(100% + 35px);
  pointer-events: none;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); */
}
.video-timeline{
  height: 7px;
  width: 100%;
  cursor: pointer;
}
.video-timeline .progress-area{
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}
.progress-area span{
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(-50%);
}
.progress-area .progress-bar{
  width: 0%;
  height: 100%;
  position: relative;
  background: #f46a24;
}
.progress-bar::before{
  content: "";
  right: 0;
  top: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  background: #f46a24;
  transform: translateY(-50%);
}
.progress-bar::before, .progress-area span{
  display: none;
}
.video-timeline:hover .progress-bar::before,
.video-timeline:hover .progress-area span{
  display: block;
}
.wrapper .video-controls{
  padding: 5px 20px 10px;
}
.video-controls .options{
  width: 100%;
}
.video-controls .options:first-child{
  justify-content: flex-start;
}
.video-controls .options:last-child{
  justify-content: flex-end;
}
.options button{
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: none;
  color: #efefef;
 /* color: #f46a24; */
  border-radius: 3px;
  transition: all 0.3s ease;
}
.options button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}
.options button:hover :where(i, span){
  color: #fff;
}
.options button:active :where(i, span){
  transform: scale(0.9);
}
.options button span{
  font-size: 23px;
}
.options input{
  height: 4px;
  margin-left: 3px;
  max-width: 75px;
  accent-color: #f46a24;
  accent-color: white;
}
.options .video-timer{
  color: #efefef;
  margin-left: 15px;
  font-size: 14px;
}
.video-timer .separator{
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}
.playback-content{
  display: flex;
  position: relative;
}
.playback-content .speed-options{
  position: absolute;
  list-style: none;
  left: -40px;
  bottom: 40px;
  width: 95px;
  overflow: hidden;
  opacity: 0;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.13s ease;
}
.playback-content .speed-options.show{
  opacity: 1;
  pointer-events: auto;
}
.speed-options li{
  cursor: pointer;
  color: #000;
  font-size: 14px;
  margin: 2px 0;
  padding: 5px 0 5px 15px;
  transition: all 0.1s ease;
}
.speed-options li:where(:first-child, :last-child){
  margin: 0px;
}
.speed-options li:hover{
  background: #dfdfdf;
}
.speed-options li.active{
  color: #fff;
  /* background: #3e97fd; */
  background: #f46a24;
}
.container video{
  width: 100%;
  position:absolute;
}

@media screen and (max-width: 540px) {
  .wrapper .video-controls{
    padding: 3px 10px 7px;
  }
  .options input, .progress-area span{
    display: none!important;
  }
  .options button{
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
  .options .video-timer{
    margin-left: 5px;
  }
  .video-timer .separator{
    font-size: 14px;
    margin: 0 2px;
  }
  .options button :where(i, span) {
    line-height: 30px;
  }
  .options button span{
    font-size: 21px;
  }
  .options .video-timer, .progress-area span, .speed-options li{
    font-size: 12px;
  }
  .playback-content .speed-options{
    width: 75px;
    left: -30px;
    bottom: 30px;
  }
  .speed-options li{
    margin: 1px 0;
    padding: 3px 0 3px 10px;
  }
  .right .pic-in-pic{
    display: none;
  }
}
  </style>
  <script>
  	const container = document.querySelector(".container"),
mainVideo = container.querySelector("video"),
videoTimeline = container.querySelector(".video-timeline"),
progressBar = container.querySelector(".progress-bar"),
volumeBtn = container.querySelector(".volume i"),
volumeSlider = container.querySelector(".left input");
currentVidTime = container.querySelector(".current-time"),
videoDuration = container.querySelector(".video-duration"),
skipBackward = container.querySelector(".skip-backward i"),
skipForward = container.querySelector(".skip-forward i"),
playPauseBtn = container.querySelector(".play-pause i"),
speedBtn = container.querySelector(".playback-speed span"),
speedOptions = container.querySelector(".speed-options"),
pipBtn = container.querySelector(".pic-in-pic span"),
fullScreenBtn = container.querySelector(".fullscreen i");
let timer;

const hideControls = () => {
    if(mainVideo.paused) return;
    timer = setTimeout(() => {
        container.classList.remove("show-controls");
    }, 3000);
}
hideControls();

container.addEventListener("mousemove", () => {
    container.classList.add("show-controls");
    clearTimeout(timer);
    hideControls();   
});

const formatTime = time => {
    let seconds = Math.floor(time % 60),
    minutes = Math.floor(time / 60) % 60,
    hours = Math.floor(time / 3600);

    seconds = seconds < 10 ? `0${seconds}` : seconds;
    minutes = minutes < 10 ? `0${minutes}` : minutes;
    hours = hours < 10 ? `0${hours}` : hours;

    if(hours == 0) {
        return `${minutes}:${seconds}`
    }
    return `${hours}:${minutes}:${seconds}`;
}

videoTimeline.addEventListener("mousemove", e => {
    let timelineWidth = videoTimeline.clientWidth;
    let offsetX = e.offsetX;
    let percent = Math.floor((offsetX / timelineWidth) * mainVideo.duration);
    const progressTime = videoTimeline.querySelector("span");
    offsetX = offsetX < 20 ? 20 : (offsetX > timelineWidth - 20) ? timelineWidth - 20 : offsetX;
    progressTime.style.left = `${offsetX}px`;
    progressTime.innerText = formatTime(percent);
});

videoTimeline.addEventListener("click", e => {
    let timelineWidth = videoTimeline.clientWidth;
    mainVideo.currentTime = (e.offsetX / timelineWidth) * mainVideo.duration;
});

mainVideo.addEventListener("timeupdate", e => {
    let {currentTime, duration} = e.target;
    let percent = (currentTime / duration) * 100;
    progressBar.style.width = `${percent}%`;
    currentVidTime.innerText = formatTime(currentTime);
});

mainVideo.addEventListener("loadeddata", () => {
    videoDuration.innerText = formatTime(mainVideo.duration);
});

const draggableProgressBar = e => {
    let timelineWidth = videoTimeline.clientWidth;
    progressBar.style.width = `${e.offsetX}px`;
    mainVideo.currentTime = (e.offsetX / timelineWidth) * mainVideo.duration;
    currentVidTime.innerText = formatTime(mainVideo.currentTime);
}

volumeBtn.addEventListener("click", () => {
    if(!volumeBtn.classList.contains("fa-volume-high")) {
        mainVideo.volume = 0.5;
        volumeBtn.classList.replace("fa-volume-xmark", "fa-volume-high");
    } else {
        mainVideo.volume = 0.0;
        volumeBtn.classList.replace("fa-volume-high", "fa-volume-xmark");
    }
    volumeSlider.value = mainVideo.volume;
});

volumeSlider.addEventListener("input", e => {
    mainVideo.volume = e.target.value;
    if(e.target.value == 0) {
        return volumeBtn.classList.replace("fa-volume-high", "fa-volume-xmark");
    }
    volumeBtn.classList.replace("fa-volume-xmark", "fa-volume-high");
});

speedOptions.querySelectorAll("li").forEach(option => {
    option.addEventListener("click", () => {
        mainVideo.playbackRate = option.dataset.speed;
        speedOptions.querySelector(".active").classList.remove("active");
        option.classList.add("active");
    });
});

document.addEventListener("click", e => {
    if(e.target.tagName !== "SPAN" || e.target.className !== "material-symbols-rounded") {
        speedOptions.classList.remove("show");
    }
});

fullScreenBtn.addEventListener("click", () => {
    container.classList.toggle("fullscreen");
    if(document.fullscreenElement) {
        fullScreenBtn.classList.replace("fa-compress", "fa-expand");
        return document.exitFullscreen();
    }
    fullScreenBtn.classList.replace("fa-expand", "fa-compress");
    container.requestFullscreen();
});

speedBtn.addEventListener("click", () => speedOptions.classList.toggle("show"));
pipBtn.addEventListener("click", () => mainVideo.requestPictureInPicture());
skipBackward.addEventListener("click", () => mainVideo.currentTime -= 5);
skipForward.addEventListener("click", () => mainVideo.currentTime += 5);
mainVideo.addEventListener("play", () => playPauseBtn.classList.replace("fa-play", "fa-pause"));
mainVideo.addEventListener("pause", () => playPauseBtn.classList.replace("fa-pause", "fa-play"));
playPauseBtn.addEventListener("click", () => mainVideo.paused ? mainVideo.play() : mainVideo.pause());
videoTimeline.addEventListener("mousedown", () => videoTimeline.addEventListener("mousemove", draggableProgressBar));
document.addEventListener("mouseup", () => videoTimeline.removeEventListener("mousemove", draggableProgressBar));
  </script>
